.col-lg-6
  .well.sidebar-nav.formulas
    = form_tag :action => :index do
      .form-group
        = label_tag 'Formulas for comparing:'
        .row
          = text_field_tag :first_formula, params[:first_formula], { placeholder: 'Enter first formula', class: 'form-control' }
          = text_field_tag :second_formula, params[:second_formula], { placeholder: 'Enter second formula', class: 'form-control' }
      .form-group
        = label_tag 'Filename:', nil, class: 'control-label'
        = text_field_tag :file_name, params[:file_name], { placeholder: 'Enter filename', class: 'form-control' }
      .modal-footer
        %br
        = submit_tag 'Accept', :class => 'btn btn-primary'

- unless @formulas.nil?
  .col-lg-6
    .well.sidebar-nav.results
      .form-group.expression
        - @formulas[0].variables.each_pair do |key, value|
          = label_tag key + ': ' + value, nil, class: 'variables'
        .form-group.result-container
          = label_tag @formulas[0].view
          %h1.result-calc
            = @formulas[0].result
      .form-group.expression
        - @formulas[1].variables.each_pair do |key, value|
          = label_tag key + ': ' + value, nil, class: 'variables'
        .form-group.result-container
          = label_tag @formulas[1].view
          %h1.result-calc
            = @formulas[1].result
      %h1.decision
        = @decision