.modal.fade#exampleModal( tabindex="-1" aria-labelledby="exampleModalLabel" )
  .modal-dialog
    .modal-content.create-params
      .modal-header
        %button( class="close" data-dismiss="modal" aria-label="Close" )
          %span
            &times;
        %h4( class="modal-title" id="exampleModalLabel" )
          = t(:file_params_title)
      = form_tag create_params_path do
        .modal-body.create-params-body
          .form-group
            = label_tag t(:file_params_filename_title), nil, class: 'control-label'
            = text_field_tag :file_name, nil, { placeholder: t(:file_params_filename), class: 'form-control' }
          .form-group
            = label_tag t(:file_params_first_params_title), nil, class: 'control-label'
            = text_field_tag :first_params, nil, { placeholder: t(:file_params_first_params), class: 'form-control' }
          .form-group
            = label_tag t(:file_params_second_params_title), nil, class: 'control-label'
            = text_field_tag :second_params, nil, { placeholder: t(:file_params_second_params), class: 'form-control' }
        .modal-footer
          = submit_tag t(:file_params_create), :class => 'btn btn-primary'